<div class="container-fluid">
  <h3> Let's Make This List, <%= @user.email %>!</h3>
    <% if current_user == nil %>
    <% elsif current_user.id == @user.id %>
      <div class="container">
       <% render partial: 'items/form', locals: { user: @user, item: @item } %>
    </div>  
  <% end %>
    <div class="container">
      <% if flash[:success] %>
        <p class="text-success"><%= flash[:success] %></p>
      <% elsif flash[:alert] %>
        <p class="text-danger"><%= flash[:alert] %></p>
   <% end %>
</div>

<div class="container-fluid">
  <h3>Tasks to be completed:<h3>
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Description</th>
        <th colspan="3"></th>
        </tr>
      </thead>
    <% @items.each do |item| %>
      <%= render partial: 'items/item', locals: { item: item }%>
      <% end %>
    </table>
</div>
</div>
