<div class="jumbotron">
<h2>About This Application</h2>
<p>To-do lists are notorious for collecting junk: items that you want to remember, but are not </p>
<p>very important and thus get consistently put off. To address the problem of to-do list clutter,</p> 
<p>we offer:</p> 

<h3>BlocItOff.</h3>