<div class="jumbotron">
<h1>BlocItOff</h1>
<p>Create and manage to-do lists with explosive consequences.</p>
<%= link_to "Let's do this!", new_user_session_path, :class => 'navbar-link', :class => 'btn btn-primary' %>