<tbody id='item-<%= item.id %>'>
  <tr>
    <td><%= item.name %></td>
    <% if current_user.id == user.id %>
      <td class="text-center"><%= link_to "", user_item_path(user.id, item.id), method: :delete, class: 'glyphicon glyphicon-check', remote: true %></td>
    <% end %>
  </tr>
</tbody>