@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-color: rgb(250, 129, 48);
  color: rgb(253, 251, 251);
}
body {
  background: linear-gradient(#d6d6d6, #853e07);
  height: 950px;
  }
